@import '~vuetify/src/stylus/main';
@import '~vuetify/src/stylus/settings/_colors';

.cursor-pointer
  cursor: pointer !important

.full-width
  width: 100% !important

.active-route-btn
  background: $blue.lighten-2 !important

